body{
    background-color: rgb(228, 228, 231);
    
}
#container{
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-shrink: 4;
}
#item2{
    position: absolute;
    margin-left: 20vw;
    margin-bottom: 5rem;
display: flex;
flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    /* width: 20rem; */
    max-width: 320px;
    min-width: 80px;
    /* height: 10rem; */
    max-height: 160px;
    min-height: 100px;
    flex-shrink: 4;
    flex-grow: 0;
    flex-basis: 0;
    /* border: 1px solid black; */
}
h1{
    margin: 0%;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    color: rgb(106, 106, 241);
}
p{
    margin: 0%;
    padding-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#item{
    position: absolute;
    background-color: white;
    border: 0px solid ;
    border-radius: 5px;
    /* width: 20rem; */
    max-width: 720px;
    min-width: 100px;
    /* height: 17rem; */
    max-height: 272px;
    min-height: max-content;
    box-shadow: 2px 2px 4px  rgba(141, 121, 121, 0.5), -2px -2px 4px rgba(141, 121, 121, 0.5);

margin-left: 55vw;
margin-bottom: 5rem;
display: flex;
flex-direction: column;
    align-items: center;
    justify-content: center; 
    flex-shrink: 4;
    flex-grow: 0;
    flex-grow: 0;
}
#email, #password{
    padding-left: 10px;
}
#email, #password, #button{
    width: 18rem;
    height: 30px;
    border: 1px solid rgb(131, 123, 123);
    border-radius: 5px;
    cursor: pointer;
}
#button{
    color: white;
    background-color: rgb(106, 106, 241);
    
}
#email:hover, #password:hover{
    box-shadow: 5px blue;
    border: 2px solid blue;
}

a:hover{
color: rgb(17, 28, 192);
}
/* a:visited{
    color: red;
} */
#cn-acc{
    color: white;
    font-size: 15px;
    background-color: rgb(100, 211, 100);
    width: 12rem;
    height: 30px;
    border: 1px solid rgb(28, 199, 79);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}